.icon-external-link:before {
  content: "\e005";
}
.icon-feed:before {
  content: "\e011";
}
.icon-home:before {
  content: "\e024";
}
.icon-archives:before {
  content: "\e031";
}
.icon-logo:before {
  content: "\e060";
}
.icon-tags:before {
  content: "\e085";
}
